body {
    background-color: #FFFBF4;
    font-family: "Gantari", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #3B3939;
}

a {
    color: #3B3939;
    text-decoration: none;
}

h1 {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 82px;
    margin: 0;
}

#container {
    width: 1200px;
    height: 750px;
    min-width: 800px;
    background-color: aquamarine;
    margin: auto;
}

#banner {
    max-width: 1100px;
    height: 250px;
    text-align: center;
    background-color: rgb(0, 255, 102);
    margin: auto;
}

#banner h2 {
    font-size: 24px;
}

#switch {
    display: flex;
    justify-self: center;
}

#left {
    background-color: #01BCDD;
    width: 115px;
    height: 331px;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
}

main {
    display: flex;
    background-color: #3B3939;
    justify-self: center;
    gap: 15px;
    padding: 20px;
    width: 757px;
}

main div {
    flex: 1;
    background-color: #A9A9A9;
    border-radius: 10px;
}

main div h2 {
    background-color: #cdcdcd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding-top: 16.6px;
    padding-bottom: 16.6px;
    padding-left: 10px;
}

main ul {
    margin: 0;
}

main ul li {
    list-style-type: none;
    font-size: 16px;
    padding: 15px;
    background-color: #A9A9A9;
    transition: all 1s ease;
}

main ul li a {
    transition: all 1s ease;
    padding-right: 10px;
}

main ul li:hover {
    background-color: #FFF09B;
    transform: scale(1.2);
}

main ul li a:hover {
    color: #EBA9FF;
}

main ul {
    padding-left: 0;
}

main h2 {
    font-size: 20px;
    font-weight: 600;
}

#right {
    background-color: #F17271;
    width: 115px;
    height: 331px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
}