body {
    background-color: #FFFBF4;
    font-family: "Gantari", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #3B3939;
}

#banner h1 {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 82px;
    margin: auto;
    position: relative;
    top: 60px;
    text-shadow: 2px 1px #ffffff,
    1px 5px 5px #bbaf9a;
}

#container {
    max-width: 1200px;
    height: 750px;
    min-width: 800px;
    /* background-color: #01dd29; */
    margin: auto;
}

#banner {
    max-width: 1100px;
    height: 250px;
    text-align: center;
    margin: auto;
    position: relative;
}

#subtitle {
    width: 220px;
    height: 220px;
    background-color: #FFF09B;
    border-radius: 100%;
    position: absolute;
    right: -10px;
    top: -30px;
}

#subtitle h2 {
    font-size: 24px;
    line-height: 1.3em;
    padding-top: 40px;
    color: #EBA9FF;
}

#switch {
    display: flex;
    justify-self: center;
    margin-bottom: 60px;
}

#switch a {
    color: #3B3939;
    text-decoration: none;
}

#left {
    background-color: #01BCDD;
    width: 115px;
    height: 331px;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    display: flex;
    flex-direction: column;
}

#left .joystick {
    width: 59px;
    height: 59px;
    background-color: #3B3939;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 20px;
}

#left .buttons {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    margin: auto;
    transform: rotate(45deg);
    margin-top: 20px;
}

#left .buttons div {
    width: 25px;
    height: 25px;
    background-color: #3B3939;
    border-radius: 100%;
    margin: 10px;
}

main {
    display: flex;
    background-color: #3B3939;
    justify-self: center;
    gap: 15px;
    padding: 20px;
    width: 757px;
}

main div {
    flex: 1;
    background-color: #A9A9A9;
    border-radius: 10px;
}

main div h2 {
    background-color: #cdcdcd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding-top: 16.6px;
    padding-bottom: 16.6px;
    padding-left: 10px;
}

main ul {
    margin: 0;
}

main ul li {
    list-style-type: none;
    font-size: 16px;
    padding: 15px;
    background-color: #A9A9A9;
    transition: all 1s ease;
}

main ul li a {
    transition: all 1s ease;
    padding-right: 10px;
}

main ul li:hover {
    background-color: #FFF09B;
    transform: scale(1.2);
}

#switch a:hover {
    color: #EBA9FF;
}

main ul {
    padding-left: 0;
}

main h2 {
    font-size: 20px;
    font-weight: 600;
}

#right {
    background-color: #F17271;
    width: 115px;
    height: 331px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    display: flex;
    flex-direction: column-reverse;
}

#right .joystick {
    width: 59px;
    height: 59px;
    background-color: #3B3939;
    border-radius: 100%;
    margin: auto;
    margin-top: 20px;
}

#right .buttons {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    margin: auto;
    transform: rotate(45deg);
    margin-bottom: 20px;
}

#right .buttons div {
    width: 25px;
    height: 25px;
    background-color: #3B3939;
    border-radius: 100%;
    margin: 10px;
}

footer {
    padding: 20px;
    line-height: 1.5em;
    color: #EBA9FF;
    background-color: #FFF09B;
    width: fit-content;
}
footer a {
    text-decoration: none;
    color: #EBA9FF;
}
footer p {
    margin: 0;
}