body {
    max-width: 1200px;
    max-height: 750px;
    background-color: #F4FCFF;
    margin: auto;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}

input,label {
    display: block;
}

input {
    margin-bottom: 1em;
}

h1 {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    position: absolute;
    z-index: 2;
    margin: 0;
    top: 0px;
    color: #6394D4;
    text-shadow: 
    8px 5px #87b3ed97,
    24px 10px #bbd8ff72;
    background-color: #F4FCFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
}

footer {
    position: absolute;
    right: 130px;
    bottom: 15px;
    font-size: 24px;
    background-color: #F4FCFF;
    padding: 10px;
    z-index: 2;
}

#mainclock {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;  
    color: #6394D4;
    font-size: 48px; 
}

main {
    position: relative;
    width: 1040px;
    height: 700px;
    background-image: url(images/news.png);
    margin: auto;
    margin-top: 50px;
}

section {
    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 315px;
    width: 35%;
    height: 75%;
    margin: auto;
}

.buttons {
    flex: 1;
    margin-left: auto;
    margin-top: 15px;
}

form {
    flex: 2;
    display: flex;
    flex-direction: column;
}

#sec-1 {
     background-color: rgb(255, 253, 246); }
#sec-2 { background-color: rgb(255, 253, 246);}
#sec-3 { 
    position: relative;
    width: 1040px;
    height: 700px;
    background-color: aqua;
    margin: auto;
    margin-top: 50px;
    left: 0;
    top: 0;
    opacity: 100%;
}

#sec-3 div {
    background-color: #6394d4ad;
    display: flex;
    padding: 20px;
    flex-direction: column;
    color: aliceblue;
    z-index: 1;
    left: 50%;
    position: absolute;
    width: 35%;
    height: 75%;
    top: 10%;
}

#sec-3 div #closing {
    text-align: right;
}

#sec-3 div #lastbuttons {
    display: flex;
    flex-direction: row;
}

#sec-3 div #lastbuttons input {
    flex: 1;
}